# no need to access the file under this directory
# Ignore node_modules directory
node_modules/

# Ignore .env file because it contains the sensitive information like database connection URL and port number
.env
